* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    overflow: hidden;
}


.arduinoBase{
    margin: auto;
}

#arduino-canvas {
    z-index: -1;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;

}


#board-canvas {
    z-index: -1;
    position: relative;
    background-color: white;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


#toggle-button {
    margin: 10px;
    cursor: pointer;
}