.list-item {
    display: flex;
    flex-direction: column; /* Changed from 'row' to 'column' */
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.list-item img {
    max-width: 30px; /* Adjust the width as needed */
    max-height: 30px; /* Set a maximum height to control thickness */
    margin-bottom: 10px; /* Changed from 'margin-right' to 'margin-bottom' */
}


#component-list {
    position: absolute;
    width: 25%;
    left: 75%;
    height: 100%; /* Adjust the maximum height as needed */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    /* animation */
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s, transform 0.5s;
}

#component-list::-webkit-scrollbar {
    display: none;
}

#component-list.hide {
    opacity: 0;
    transform: translateX(-100%);
}

.list-container {
    z-index: 1;
    height: auto; /* Remove fixed height */
    overflow-x: scroll;
    border: 1px solid #ccc; /* Optional: Add a border for visual separation */
    width: 100%;
}

.list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 30px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; /* Add margin to separate items */
   
    cursor: pointer;
    transition: transform 0.3s ease;
}


.list-item img {
    max-width: 30px;
    max-height: 30px;
    margin-bottom: 10px;
}


.list-item:hover {
    background-color: #ccc;
}