#inspector {
    position: fixed;
    display: relative;
    right: 75%;
    width: 25%;
    height: 100%;
    border: black solid 2px;
}   

#inspectorPart {
    color: #5468ff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.4;
    text-transform: none;
    padding: 10px 20px; /* Add padding for spacing around the text */
    border-radius: 50px; /* Create an oval shape with a large enough border radius */
    background-color: rgba(84, 104, 255, 0.2); /* Add a semi-transparent background color */
    display: inline-block; /* Make the element inline-block to wrap the text */
}
