#power-base {
    margin-left: calc(50% - 25px);
    background: green;
    display: flex;
    flex-direction: column;
}

#ground-pins, #plus-pins {
    display: flex;
}

.power-base-pin {
    text-align: center;
    border: black solid 1px;
}