* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    overflow: hidden;
}

#env {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.sidebar-buttons, #inspector, #component-list {
    background-color: white;
}

.sidebar-buttons {
    position: relative;
    padding-bottom: 10px;
    left: 75%;
}
