* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    overflow: hidden;
}


.Powerbase{
    margin: auto;
}

#powerBase-canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 3%;
}


#board-canvas {
    position: relative;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

