* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    overflow: hidden;
}

#env {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    image-rendering: optimizeSpeed;
}

.sidebar-buttons, #inspector, #component-list {
    background-color: white;
}

.sidebar-buttons {
    position: relative;
    padding-bottom: 10px;
}

#header-button {
    position: relative;
    left: calc(86% + 15px);
}

.inner-text-editor {
    margin: 10px;
}

#text-editor {
    position: fixed;
    left: 80%;
    width: 20%;
    height: 100%;
    border: 1px solid #ddd;
}

#text-editor input {
    height: 100px;
}